<ion-header>
  <ion-toolbar>
    <ion-title>projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ipf Client</ion-card-title>
      <ion-card-subtitle>
        <ion-button  color="secondary" shape="round">
          Html
        </ion-button>
        <ion-button color="success" shape="round">
          Css
        </ion-button>
        <ion-button color="tertiary" shape="round">
          Typescript
        </ion-button>
        <ion-button color="medium" shape="round">
          Javascript
        </ion-button>
        <ion-button color="warning" shape="round">
          Bootstrap
        </ion-button>
        <ion-button color="danger" shape="round">
          MongoDb
        </ion-button>
        <ion-button color="success" shape="round">
          NodeJs
        </ion-button>
        <ion-button color="medium" shape="round">
          Express
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Ipf Client is a Internal Client Management Project.
      Client management system project is to have fully automated client management system this system will enable to
      draw the details of the client along with jobe alloted to that perticular client.
      the main purpuse of this management system will definitly reduce the time, energy and money wasted in manually
      searching the details of the client.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>HRMS Dashboard</ion-card-title>
      <ion-card-subtitle>
        <ion-button color="medium" shape="round">
          Html
        </ion-button>
        <ion-button color="success" shape="round">
          Css
        </ion-button>
        <ion-button color="danger" shape="round">
          Typescript
        </ion-button>
        <ion-button  color="warning" shape="round">
          Javascript
        </ion-button>
        <ion-button color="medium" shape="round">
          Mysql
        </ion-button>
        <ion-button  color="tertiary" shape="round">
          Php
        </ion-button>
        <ion-button color="success" shape="round">
          FusionCharts
        </ion-button>
        <ion-button  color="secondary" shape="round">
          PptgnJs
        </ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      HRMS Dashboard is a Human resource Management system Project.
HRMS Dashboard Management system project is hepls you to digitize and digitalize your organization.
HRMS helps you to digitize and digitalize your employee Journey and provide you actionable insights to better employee productivity and retention.
HRMS allow you to engage with your employee reward and recognize them, know what is on their minds and give them a space to collaborate.
    </ion-card-content>
  </ion-card>




</ion-content>