<ion-header>
  <ion-toolbar>
    <ion-title>certificate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-img src="./../../assets/squad.jpg" ></ion-img>
      <ion-card-title>SQuAD</ion-card-title>
      <ion-card-subtitle>Professional .Net Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Certification No. VC_SO_1056
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="./../../assets/ipledge.jpg" ></ion-img>
      <ion-card-title>ipledgefor</ion-card-title>
      <ion-card-subtitle>Mean Stack Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Certification No. ipf04E-Z79KZ06D9U
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="./../../assets/hono.jpg" ></ion-img>
      <ion-card-title>HONO</ion-card-title>
      <ion-card-subtitle>Service Certificate</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Certification No. U74140DL2008PTC182820
    </ion-card-content>
  </ion-card>



  <!-- <ion-button [routerLink]="['/viewcertificates']">View Certificates</ion-button> -->



</ion-content>