<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Qualifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bsc(CS)</ion-card-title>
      <ion-card-subtitle>Mumbai University</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Graduation
      SHRI Ram College,Mumbai University
      B.Sc. Computer Science. 7.17/10 CGPA
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>HSC</ion-card-title>
      <ion-card-subtitle>Maharashtra Board</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Higher Secondary School
      I.D U.B.S Junior College, Maharashtra State Board
      HSC, 51.77%
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>SSC</ion-card-title>
      <ion-card-subtitle>Maharashtra Board</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Secondary School
      S.E.S Kalamboli School
      SSC, 60.00%
    </ion-card-content>
  </ion-card>




  
  


</ion-content>



