/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-button{
    width:96%;
    margin: 10px;
  }

  // ion-card{
  // box-shadow: 0 4px 4px 0 rgba(153, 151, 151, 0.2), 0 2px 20px 0 rgba(247, 246, 246, 0.19);
 
  // }