<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header>
      <ion-img src="./../../assets/profilepic.jpg" ></ion-img>
      <ion-card-title>Sanjeev Prajapati</ion-card-title>
      <ion-card-subtitle>Mumbai University</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="call-outline"></ion-icon> 7506066397</ion-card-subtitle>
      <ion-card-subtitle><ion-icon name="mail-outline"></ion-icon> prajapatisanjiv8@gmail.com</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Hi, I am Sanjiv prajapati. I am from powai. I have completed my Bachelor of science (cs) in 2020 from Mumbai
      university.
      Currently I am working as a Software Engineer at Clover Infotech Pvt Ltd.
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-icon name="logo-linkedin" item-start></ion-icon>
    sanjiv1998
   <a slot="end" ion-button color="light" href="https://www.linkedin.com/in/sanjiv1998/"><ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon></a>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-facebook" item-start></ion-icon>
    sanjiv prajapati
  <a slot="end" href="https://www.facebook.com/mantu.orajapati/"><ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon></a>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-github" item-start></ion-icon>
    sanjeevgith
   <a slot="end" href="https://github.com/sanjeevgith"><ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon></a>
  </ion-item>

  <ion-item>
    <ion-icon name="logo-instagram" item-start></ion-icon>
    mon2_prajapati
   <a slot="end" href="https://www.instagram.com/mon2_prajapati/"><ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon></a>
  </ion-item>

  <!-- <ion-card>
  <ion-button  color="primary" shape="round" (click)="download()">
    Download Resume
  </ion-button>
  </ion-card> -->

  <!-- <ion-list>
    <ion-item>
      <ion-label>Followers</ion-label>
      <ion-badge color="primary">22k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Likes</ion-label>
      <ion-badge color="secondary">118k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Stars</ion-label>
      <ion-badge color="tertiary">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label>
      <ion-badge color="success">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Warnings</ion-label>
      <ion-badge color="warning">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
  </ion-list> -->


</ion-content>