<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experience
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 


  <ion-card>
    <ion-card-header>
      <ion-card-title>Clover Infotech Pvt Ltd</ion-card-title>
      <ion-card-subtitle>18th Oct 2022 – Till date</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Software Engineer
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hono</ion-card-title>
      <ion-card-subtitle>19th Jan 2022 – 18th Oct 2022</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Jr. Software Developer
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ipledgefor</ion-card-title>
      <ion-card-subtitle>2nd Aug 2021 – 2nd Oct 2021</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mean Stack Developer
    </ion-card-content>
  </ion-card>



   <ion-button color="success" [routerLink]="['/projects']">View Projects &nbsp;  <ion-icon  name="exit-outline"></ion-icon></ion-button>


  <!-- <ion-item>
    <ion-button slot="start">
      Start
    </ion-button>
    <ion-label>Default Buttons</ion-label>
    <ion-button slot="end">
      End
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button slot="start">
      Start
      <ion-icon name="home" slot="end"></ion-icon>
    </ion-button>
    <ion-label>Buttons with Icons</ion-label>
    <ion-button slot="end">
      <ion-icon name="star" slot="end"></ion-icon>
      End
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button slot="start">
      <ion-icon slot="icon-only" name="navigate"></ion-icon>
    </ion-button>
    <ion-label>Icon only Buttons</ion-label>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button slot="start" size="small">
      Small
    </ion-button>
    <ion-button slot="start" size="small">
      Default
    </ion-button>
    <ion-button slot="start" size="small">
      Large
    </ion-button>
  </ion-item> -->

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
